@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

body {
  @apply bg-background-light dark:bg-background-dark text-[#e0e0e0];
}

html {
  scroll-behavior: smooth;
}
